PORT=5002
MONGO_URI=mongodb+srv://your_username:your_password@cluster.name.mongodb.net/WebChat-MERN?appName=Cluster0
JWT_TOKEN=your_jwt_secret_key_here
FRONTEND_URL=http://localhost:4001
NODE_ENV=development
