PORT=5003
MONGODB_PASSWORD=your_mongodb_password
MONGODB_USER=your_mongodb_username
MONGO_URI=mongodb+srv://your_username:your_password@cluster.name.mongodb.net/WebChat-MERN?appName=Cluster0
JWT_TOKEN=your_jwt_secret_key_here
